<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">indBikeSim on %h</name>
  <service>
    <type>_wahoo-fitness-tnp._tcp</type>
    <port>36866</port>
    <txt-record>serial-number=SN</txt-record>
    <txt-record>mac-address=MAC</txt-record>
    <txt-record>ble-service-uuids=0x1826</txt-record>
  </service>
</service-group>

